
.navbar {
    padding: 0 2rem;
    box-shadow: 0px 5px 5px 0px rgba(255,199,95,0.5);
}

.navLogo {
    width: 15%;
}

#logo:hover {
    transform: translateY(-5%);
    transform: scale(1.5);
}

.div-list {
    position: relative;
    right: 20%;
}

.nav-ul-s {
    display: flex;
    justify-content: space-between;
    gap: -1%;
}

.nav-ul-s li a {
    color: var(--negro);
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;

    background:
        linear-gradient(to right,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
            /* rgba(0, 212, 255, 0.5)), */
        linear-gradient(to right,
            /* rgba(255, 0, 0, 1), */
            rgba(255, 199, 95, 1),
            rgba(255, 199, 95, 1));

    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

}

.nav-ul-s li a:hover {
    color: var(--negro);
    background-size: 0 2px, 100% 2px;
}

.dropdown-menu{
    
    width: 30px;
    text-align: center;
}

@media (max-width: 650px) {
    

    .navbar-toggler{
     position: absolute;
     right: 10%;
     top: 20%;
     box-shadow: 0px 0px  20px rgba(255, 199, 95, 0.808);
   
    }
    .navbar {
        padding: 0 0.5rem;
        box-shadow: 0px 5px 5px 0px rgba(255,199,95,0.5);
    }

    .navLogo{
        width: 20%;
    }
    #logo:hover {
        transform: translateY(-5%);
        transform: scale(1.2);
    }
    
    .div-list {
        position: relative;
        right: 0%;
    }
    
}




